body {
    text-align: center;

}
.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}

.red{
    background-color: #e90a4d;
}

.yellow{
    background-color: #f99b45;
}

.green{
    background-color: #1feb5c;
}

.purple{
    background-color: #ca66ce;
}

.flash{
    background-color: white;
}
.userFlash{
    background-color: green;
}
